@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
}
.background {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  height: 40vh;
  background-size: cover;
  background-position: top;
  position: relative;
}
.wrapper {
  width: 28%;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  padding: 12px 40px;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper p {
  color: hsl(292, 16%, 49%);
  line-height: 22px;
  padding-bottom: 12px;
}
.wrapper h4 {
  letter-spacing: 0.125px;
  padding-bottom: 8px;
}
.wrapper div {
  border-bottom: 2px solid rgba(240, 240, 240, 0.525);
}
.wrapper div:last-child,
.wrapper div:first-child {
  border-bottom: none;
}
.faq-header h1 {
  font-size: 48px;
}
.question-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.question-header:hover {
  color: rgb(173, 40, 235);
}
.answer-para {
  display: none;
}
@media only screen and (max-width: 375) {
  .background {
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-size: contain;
    height: 25vh;
    position: relative;
  }
  h4 {
    font-size: 95%;
  }
  h4 img {
    margin-left: 24px;
  }
  .wrapper {
    width: 75%;
    padding: 6px 20px;
  }

  .faq-header img {
    width: 10%;
  }

  .faq-header h1 {
    font-size: 34px;
  }

  .faq-header {
    height: 10%;
  }
}
.attribution {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 30%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 80vh;
}
